:root {
  font-family: 'Inter Tight', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

body {
  width: 100%;
}
