.backdrop-modal-contact-me {
  z-index: 999;
  position: fixed;
  background-color: var(--secondary-color);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-contact-me {
  position: relative;
  margin: 0 auto;

  /* width: 100%; */

  min-height: 812px;
  min-width: 375px;

  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .modal-contact-me {
    min-width: 768px;
    min-height: 1024px;

    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-contact-me {
    width: 1440px;
    min-height: 930px;

    padding-bottom: 64px;
  }
}

.head-container-contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.head-title-contact-me {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--primary-color);
  opacity: 0.5;
}

.close-btn-contact-me {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding: 0;
  border: none;
}

.close-icon {
  width: 26px;
  height: 26px;
  fill: var(--primary-color);
  transition: fill 0.25s ease-in-out;
}

.close-icon:hover,
.close-icon:focus {
  fill: gray;
}

@media only screen and (min-width: 768px) {
  .close-icon {
    width: 40px;
    height: 40px;
  }
}

.modal-left-side {
  margin-top: 148px;
}

@media only screen and (min-width: 768px) {
  .modal-left-side {
    margin-top: 112px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-left-side {
    width: 698px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-container-contact-me {
    width: 698px;
  }
}

.subtitle-contact-me {
  display: inline-block;
  font-weight: 500;
  font-size: 44px;
  line-height: 1;
  letter-spacing: -0.03em;

  padding-right: 4px;
}

.span-subtitle-contact-me {
  display: inline-block;

  font-weight: 500;
  font-size: 44px;
  line-height: 1;
  letter-spacing: -0.03em;

  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .subtitle-contact-me {
    font-size: 100px;

    padding-right: 16px;
  }
  .span-subtitle-contact-me {
    font-size: 100px;

    margin-bottom: 32px;
  }
}

.paragraph-contact-me {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;

  width: 342px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .paragraph-contact-me {
    width: 379px;
    margin-bottom: 64px;
  }
}

.form-contact-me {
  position: relative;
  width: 343px;
  height: 54px;
}

@media only screen and (min-width: 768px) {
  .form-contact-me {
    width: 397px;
    height: 58px;
  }
}

.input-contact-me {
  width: 100%;
  height: 100%;

  padding: 16px 18px;
  border-radius: 12px;

  background-color: transparent;
  border: 1px solid rgba(249, 249, 249, 0.15);
  color: var(--primary-color);

  transition: border 0.25s ease-in-out;
}

.input-contact-me:hover,
.input-contact-me:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.input-contact-me:focus::placeholder {
  transition: color 0.25s ease-in-out;
}

.input-contact-me:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-color);
  background-clip: text;
}

.send-btn-contact-me {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  min-width: 120px;
  height: 54px;
  padding: 18px 28px;
  border-radius: 12px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;

  background-color: var(--accent-color);
  color: var(--primary-color);

  transition: background-color 0.25s ease-in-out;
}

.send-btn-contact-me:hover,
.send-btn-contact-me:focus {
  background-color: #900302;
}

@media only screen and (min-width: 768px) {
  .send-btn-contact-me {
    height: 58px;
  }
}

.telegram-icon {
  fill: var(--primary-color);
}

/* Contacts */
.contacts-container-contact-me {
  margin-top: 264px;

  padding-top: 32px;

  border-top: 1px solid rgba(249, 249, 249, 0.2);
}

@media only screen and (min-width: 768px) {
  .contacts-container-contact-me {
    margin-top: 240px;

    padding-top: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .contacts-container-contact-me {
    margin-top: 146px;
  }
}

.contacts-box-contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .contacts-box-contact-me {
    justify-content: flex-start;
    gap: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .contacts-box-contact-me {
    width: 698px;
  }
}

.socials-container-contact-me {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacts-paragraph-contact-me {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;

  color: var(--primary-color);
  opacity: 0.5;
}

.socials-list-contact-me {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.socials-item-contact-me {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .socials-item-contact-me {
    line-height: 1.12;
  }
}
.social-link-hover {
  transition: color 0.25s ease-in-out;
}

.social-link-hover:hover,
.social-link-hover:focus {
  color: var(--accent-color);
  outline: none;
}

.modal-right-side {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .modal-right-side {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    width: 742px;
    min-height: 930px;
    background-color: var(--accent-color);

    background-image: url(../../img/contact-me/contact-me-desc__2x.webp);
    background-size: 542px 724px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.customer-paragraph {
  margin-top: auto;

  padding-bottom: 64px;

  font-size: 150px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
}
