.footer {
  max-width: 375px;
  padding-top: 62px;
  padding-bottom: 64px;
  background-color: black;
  color: white;
  margin: 0 auto;
}
.block-footer {
  padding-left: 16px;
  padding-right: 16px;
}
.footer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 32px;
}
.footer-contacts-box {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: rgba(249, 249, 249, 0.5);
  margin-bottom: 10px;
}
.footer-title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 6px;
}
.footer-contacts-box-child {
  overflow-wrap: break-word;
  width: 92px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    max-width: 768px;
    padding-bottom: 80px;
  }
  .block-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-img {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
  }
  .footer-title-item {
    font-size: 44px;
  }
  .footer-contacts-box {
    width: 496px;
    flex-wrap: wrap;
    gap: 64px;
  }
  .footer-contacts-box-child {
    width: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
  .footer-contacts-box {
    width: 976px;
    gap: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-title-item {
    font-size: 64px;
  }
  .footer-contacts-box-child {
    width: 272px;
  }
}
