.hero-section {
  padding-top: 422px;
  padding-bottom: 40px;
  background-image: url('../../img/hero/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
}

@supports (background-image: url('../../img/hero/hero-mobile.webp')) {
  .hero-section {
    background-image: url('../../img/hero/hero-mobile.webp');
  }
}

@media only screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url('../../img/hero/hero-mobile_@2x.jpg');
  }

  @supports (background-image: url('../../img/hero/hero-mobile_@2x.webp')) {
    .hero-section {
      background-image: url('../../img/hero/hero-mobile_@2x.webp');
    }
  }
}

.text-wrapper {
  width: 343px;
}

.hero-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
  width: 310px;
}

.hero-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 0.95;
  margin-bottom: 28px;
  letter-spacing: -0.03em;
}

.hero-title-accent {
  color: var(--accent-color);
}

.contact-me-btn {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  line-height: 1.33;
  letter-spacing: -0.03em;
  transform: rotate(13deg);
  box-shadow: inset -13px -5px 13px 0 rgba(255, 255, 255, 0.05),
    inset 13px 10px 13px 0 rgba(8, 8, 8, 0.05);
  padding: 0;
  border: 2px solid rgba(249, 249, 249, 0.1);
  background: rgba(1, 1, 1, 0.05);
  outline: none;
  transition: 0.25s ease-in-out;
}

.contact-me-btn:hover,
.contact-me-btn:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    width: 768px;
    position: relative;
  }

  .hero-section {
    padding-top: 540px;
    padding-bottom: 196px;
    margin-bottom: 0px;
      background-size: auto 980px;
    background-image: url('../../img/hero/hero-tablet.jpg');
  }

  @supports (background-image: url('../../img/hero/hero-tablet.webp')) {
    .hero-section {
      background-image: url('../../img/hero/hero-tablet.webp');
    }
  }

  .text-wrapper {
    width: 600px;
  }

  .hero-title {
    font-size: 80px;
    line-height: 0.9;
    margin-bottom: 0;
  }

  .contact-me-btn {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 32px;
    bottom: -134px;
    font-size: 16px;
    background: var(--secondary-color);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url('../../img/hero/hero-tablet_@2x.jpg');
  }

  @supports (background-image: url('../../img/hero/hero-tablet_@2x.webp')) {
    .hero-section {
      background-image: url('../../img/hero/hero-tablet_@2x.webp');
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 612px;
    padding-bottom: 140px;
    background-color: var(--secondary-color);
    background-image: url('../../img/hero/hero-desc.jpg');
  }

  @supports (background-image: url('../../img/hero/hero-desc.webp')) {
    .hero-section {
      background-image: url('../../img/hero/hero-desc.webp');
    }
  }

  .hero-wrapper {
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .hero-title {
    font-size: 100px;
    line-height: 1;
  }

  .text-wrapper {
    width: 1000px;
    margin-right: 64px;
  }

  .contact-me-btn {
    position: static;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url('../../img/hero/hero-desc_@2x.jpg');
  }

  @supports (background-image: url('../../img/hero/hero-desc_@2x.webp')) {
    .hero-section {
      background-image: url('../../img/hero/hero-desc_@2x.webp');
    }
  }
}
