.pop-up-gallery-backdrop {
  display: none;
  /* pointer-events: none; */
}

.pop-up-gallery-container {
  position: relative;
  width: 375px;
  padding-top: 90px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.pop-up-gallary-cont-layout {
  display: block;
  margin: 0 auto;
  width: 343px;
}

.pop-up-gallery-swiper {
  margin-left: auto;
  margin-right: auto;
}

.pop-up-gallery-wrapper {
  width: 343px;
}

.pop-up-photo {
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  width: 343px;
  /* height: 507px; */
}

.pop-up-gallary-desc-wrapper {
  display: flex;
  justify-content: space-between;
}

.pop-up-gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 16px;
  margin-bottom: 8px;
}

.pop-up-gallery-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: rgba(249, 249, 249, 0.3);
  max-width: 231px;
}

.pop-up-swiper-arrows {
  text-align: center;
  margin-top: 10px;
}

.pop-up-gallery-swiper-btn-next,
.pop-up-gallery-swiper-btn-prev {
  background-color: transparent;
  border: none;
}

.pop-up-gallery-swiper-arrow-next {
  fill: var(--primary-color);
}

.pop-up-gallery-swiper-arrow-prev {
  fill: var(--primary-color);
  /* fill: rgba(249, 249, 249, 0.2); */
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .pop-up-gallery-container {
    width: 768px;
  }

  .pop-up-gallary-cont-layout {
    width: 494px;
  }

  .pop-up-gallery-wrapper {
    width: 494px;
  }

  .pop-up-photo {
    width: 494px;
    /* height: 613px; */
  }

  .pop-up-gallary-desc-wrapper {
    margin: 0 auto;
    max-width: 494px;
  }
  .pop-up-gallery-descr {
    max-width: 354px;
  }

  .pop-up-gallery-title {
    margin-top: 32px;
  }

  .pop-up-swiper-arrows {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .pop-up-gallery-container {
    width: 1440px;
  }

  .pop-up-gallary-cont-layout {
    width: 100%;
  }

  .pop-up-gallery-swiper-btn-next :hover,
  .pop-up-gallery-swiper-btn-prev :hover {
    fill: gray;
  }

  .pop-up-gallary-desc-wrapper {
    max-width: 560px;
    padding-right: 65px;
  }
}
