<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title about-title">
      (<span data-en="about" data-ua="про мене">About</span>)
    </h2>
    <div class="about-text-content">
      <p class="about-text about-description-1">
       <span data-id="about-desc-1"></span>
       <span class="about-accent-text" data-id="about-desc-2"></span>
       <span data-id="about-desc-3"></span>
       <br>
       <br>
       <span data-id="about-desc-4"></span>
       <span class="about-accent-text" data-id="about-desc-5"></span>
      </p>

      <p class="about-text about-description-2">
        <span data-id="about-desc-6"></span>
        <br>
        <span data-id="about-desc-7"></span>
        <br>
        <span data-id="about-desc-8"></span>
        <br>
        <br>
        <span class="about-accent-text" data-ua="Завжди ваша," data-en="Always yours,"></span>
        <br>
        <span class="about-accent-text" data-ua="Барселоліта " data-en="Barcelolita "></span>
        <svg class="lips-icon" width="20" height="20">
          <use href="./img/icons/symbol.svg#icon-red-lips"></use>
        </svg>
      </p>
      <div class="about-phrase-container">
        <h2 class="section-title about-title-phrase">
          (<span data-en="about" data-ua="про мене">About</span>)
        </h2>
        <p class="about-phrase">
          &#x0022; <span data-en="What I like about" data-ua="Що мені подобається в"
            >What I like about</span
          >
          <span
            class="about-accent-text"
            data-en="photographs"
            data-ua="фотографії"
            >photographs</span
          >
          <span
            data-en="is that they capture"
            data-ua=", це те, що вона зберігає"
            >is that they capture</span
          >
          <span class="about-accent-text" data-en="a moment" data-ua="моменти"
            >a moment</span
          >
          <span
            data-en="that’s gone forever, impossible to"
            data-ua=", які пішли назавжди, і які"
            >that’s gone forever, impossible to</span
          >
          <span
            class="about-accent-text"
            data-en="reproduce"
            data-ua="відтворити"
            >reproduce</span
          >
          <span
            data-en=""
            data-ua="неможливо"
            >reproduce</span
          >
          .&#x0022;
        </p>
      </div>
    </div>
  </div>
  <div class="about-img"></div>
</section>
