<section class="section about-section">
  <div class="container about-container">
    <h2 class="about-text about-title">
      (<span data-en="about" data-ua="про мене">About</span>)
    </h2>
    <div class="about-text-content">
      <p class="about-text about-description-1" id="about-description-1">
        Hello! I am Barcelolita and I am your photographer. Close people call me
        Lola. The inspiration to do photography found me when I lived in
        Barcelona and every day contemplated the beauty through the lens of my
        camera. That's how Barcelolita was born - my alter ego in photography.
        All that drives me is the passion for what I do, the inspiration to
        capture moments, live them with you and tell your stories.
      </p>

      <p class="about-text about-description-2" id="about-description-2">
        Sensual, incredible, sometimes bold — each of us has a special story. My
        inspiration is life in the moment, people, the elements, those that rage
        and make the heart beat faster. I create shoots for people, about people
        and about everything that once was or is someone's passion. I work with
        different styles, offering variable shooting models. My specialization
        is fashion photography, personal, brand photography, lookbooks, couple
        photography and business photos for your personal brand.
      </p>
      <div class="about-phrase-container">
        <h2 class="about-text about-title-phrase">
          (<span data-en="about" data-ua="про мене">About</span>)
        </h2>
        <p class="about-phrase">
          “<span data-en="What I like about" data-ua="Що мені подобається в"
            >What I like about</span
          >
          <span
            class="about-accent-text"
            data-en="photographs"
            data-ua="фотографії"
            >photographs</span
          >
          <span
            data-en="is that they capture"
            data-ua=" - це те, що вона ловить"
            >is that they capture</span
          >
          <span class="about-accent-text" data-en="a moment" data-ua="момент"
            >a moment</span
          >
          <span
            data-en="that’s gone forever, impossible to"
            data-ua="який більше не настане та який неможливо"
            >that’s gone forever, impossible to</span
          >
          <span
            class="about-accent-text"
            data-en="reproduce"
            data-ua="відтворити"
            >reproduce</span
          >
          .”
        </p>
      </div>
    </div>
  </div>
  <div class="about-img"></div>
</section>
