<section class="section">
    <div class="container">
        <div class="content">
            <h3 class="title">(backstage)</h3>
            <p class="description"
                data-en="If you like what you see on here just say hello and drop me a message. I’d love to work with you!"
                data-ua="Якщо вам подобається те, що ви бачите тут, просто привітайтеся і напишіть мені повідомлення. Я буду рада співпрацювати з вами!">
                If you like what you see on here just say hello and drop me a message. I’d love to work with you!
            </p>
        </div>
        <div class="video-container">
            <picture>
                <source srcset="/img/backstage/Rectangle-14-desctop.webp  1x, 
                            /img/backstage/Rectangle-14-desctop@2x.webp  2x" type="image/webp"
                    media="(min-width: 1280px)" />
                <source srcset="/img/backstage/Rectangle-14-tablet.webp  1x, 
                            /img/backstage/Rectangle-14-tablet@2x.webp  2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="/img/backstage/Rectangle-14-mobile.webp  1x, 
                            /img/backstage/Rectangle-14-mobile@2x.webp  2x" type="image/webp"
                    media="(min-width: 320px)" />
                <img id="video-thumbnail" src="/img/backstage/Rectangle-14-mobile.webp" alt="Rectangle" />
            </picture>
            <video id="video" class="video">
                <source src="/img/backstage/video/Backstage.MOV" type="video/MOV">
                Your browser does not support the video tag or the file format of this video.
            </video>
            <button id="play-button" class="play-button play-btn" aria-label="Play">
                <svg class="icon-play">
                    <use href="/img/icons/symbol.svg#icon-play"></use>
                </svg>
            </button>
        </div>
        <div class="quote">
            <h2 class="quote-text"><span data-en="A thing that">“A thing that</span>
                <span class="highlight" data-en="you see" data-ua="Ви бачите">you see</span>
                <span data-en="in my pictures is that I was not afraid to"
                    data-ua="на моїх фотографіях те, що я не боялася">in my pictures is that I was not
                    afraid to</span>
                <span class="highlight" data-en="fall in love" data-ua="закохатися"> fall in love</span>
                <span data-en="with these people" data-ua="в цих людей">with these people.”</span>
            </h2>
            <h3 class="quote-author" data-en="Annie Leibovitz" data-ua="Енні Лейбовіц">Annie Leibovitz</h3>
        </div>
    </div>
    <script src="../js/backstage.js"></script>
    <script src="../main.js"></script>
</section>