<section class="section">
    <div class="container">
        <div class="content">
            <h3 class="title">(backstage)</h3>
            <p class="description">If you like what you see on here just say hello and drop me a message. I’d love to work with you!</p>
        </div>
        <div class="video-container"> 
            <video class="video" controls>
                <source src="../video/Nature.mp4" type="video/mp4">
            </video> 
            <div class="circle-overlay">
                <svg class="play-icon">
                    <use href="../img/icons/symbol.svg#icon-play"></use>
                </svg>
            </div>
        </div>
        <div class="quote">
            <h2 class="quote-text">“A thing that <span class="highlight">you see</span> in my pictures is that I was not afraid to <span class="highlight"> fall in love</span> with these people.”</h2>
            <h3 class="quote-author">Annie Leibovitz</h3>
        </div>
    </div>
</section>
