<div class="backdrop-modal-contact-me backdrop">
  <div class="modal-contact-me">
    <div class="container head-container-contact-me">
      <h4 class="head-title-contact-me" data-id="contact-me">Contact me</h4>
      <button type="button" class="close-btn-contact-me pop-up-close-btn">
        <svg class="close-icon" width="26" height="26">
          <use href="./img/icons/symbol.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-left-side">
      <div class="container main-container-contact-me">
        <h2 class="subtitle-contact-me" data-en="Work" data-ua="Працювати">
          Work
        </h2>
        <span
          class="span-subtitle-contact-me"
          data-en="with me"
          data-ua="зі мною"
          >with me</span
        >
        <p class="paragraph-contact-me" data-id="message">
          If you like what you see on here just say hello and drop me a message.
          I’d love to work with you!
        </p>
        <form class="form-contact-me" id="form">
          <input
            required
            pattern="^[а-яїґієА-ЯЇҐІЄa-zA-Z]{2,}( [а-яїґієА-ЯЇҐІЄa-zA-Z]+)?$"
            id="name"
            type="text"
            name="user-name"
            class="input-contact-me"
            data-en-placeholder="Name"
            data-ua-placeholder="Ім'я"
            data-en-title="Please, enter your name (at least 2 letters)"
            data-ua-title="Будь ласка, введіть своє ім'я (мінімум 2 літери)"
          />
          <input
            required
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{3}$"
            id="number"
            type="tel"
            name="user-number"
            class="input-contact-me"
            data-en-placeholder="Phone number"
            data-ua-placeholder="Номер телефону"
            data-en-title="Please, enter a valid phone number as shown in the example: +XX-XXX-XXX-XXX"
            data-ua-title="Будь ласка, введіть дійсний номер телефону відповідно до прикладу: +XX-XXX-XXX-XXX"
          />
          <input
            id="message"
            type="text"
            name="user-message"
            class="input-contact-me"
            data-en-placeholder="Let's talk"
            data-ua-placeholder="Давай спілкуватися"
            data-en-title="Please, leave a message"
            data-ua-title="Будь ласка, залиште повідомлення"
          />
          <button class="send-btn-contact-me" type="submit">
            <span data-id="send">Send</span>
            <svg class="telegram-icon" width="18" height="16">
              <use href="./img/icons/symbol.svg#icon-telegram"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="contacts-container-contact-me">
        <div class="container contacts-box-contact-me">
          <div class="socials-container-contact-me">
            <p class="contacts-paragraph-contact-me" data-id="location">
              Location:
            </p>
            <ul class="socials-list-contact-me">
              <li class="socials-item-contact-me" data-id="ukraine">Ukraine</li>
              <li class="socials-item-contact-me" data-id="spain">Spain</li>
              <li class="socials-item-contact-me" data-id="france">France</li>
            </ul>
          </div>
          <div class="socials-container-contact-me">
            <p
              class="contacts-paragraph-contact-me"
              data-id="contact-me-follow-me"
            >
              Follow me:
            </p>
            <ul class="socials-list-contact-me">
              <li class="socials-item-contact-me">
                <a
                  class="socials-link-contact-me social-link-hover"
                  href="https://www.instagram.com/barcelolitta?igsh=bXFuaGpzazZjMnJo"
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li class="socials-item-contact-me">
                <a
                  class="socials-link-contact-me social-link-hover"
                  href="https://www.facebook.com/alyona.stulina"
                  target="_blank"
                  >Facebook</a
                >
              </li>
              <li class="socials-item-contact-me">
                <a
                  class="socials-link-contact-me social-link-hover"
                  href="https://t.me/barcelolita"
                  target="_blank"
                  >Telegram</a
                >
              </li>
            </ul>
          </div>
          <div class="socials-container-contact-me">
            <p class="contacts-paragraph-contact-me" data-id="contact">
              Contact:
            </p>
            <address class="adress-contact-me">
              <ul class="socials-list-contact-me">
                <li class="socials-item-contact-me">
                  <a
                    class="socials-link-contact-me social-link-hover"
                    href="mailto:barcelolita@ukr.net"
                    >barcelolita@ukr.net</a
                  >
                </li>
                <li class="socials-item-contact-me">
                  <a
                    class="socials-link-contact-me social-link-hover"
                    href="tel:+380637780314"
                    >+380637780314</a
                  >
                </li>
              </ul>
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-right-side">
      <p class="customer-paragraph">barcelolita.</p>
    </div>
  </div>
</div>
