<footer class="footer" id="contacts">
  <div class="container block-footer">
    <img
      class="footer-img"
      src="/img/contacts-img/autor-tab-desk.png"
      alt="photo-girl-author"
    />
    <div class="footer-contacts-box">
      <div class="footer-contacts-box-child">
        <h3
          class="footer-title"
          data-ua="Зв'язатися зі мною"
          data-en="Follow me"
        >
          Follow me
        </h3>
        <ul class="footer-list">
          <li class="footer-title-item">
            <a
              class="footer-title-link"
              href="https://www.instagram.com/barcelolitta?igsh=bXFuaGpzazZjMnJo"
              target="_blank"
              >Instagram</a
            >
          </li>
          <li class="footer-title-item">
            <a
              class="footer-title-link"
              href="https://www.facebook.com/alyona.stulina"
              target="_blank"
              >Facebook</a
            >
          </li>
          <li class="footer-title-item">
            <a
              class="footer-title-link"
              href="https://t.me/barcelolita"
              target="_blank"
              >Telegram</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-contacts-box-child">
        <h3 class="footer-title" data-ua="Електронна пошта" data-en="Email">
          Email
        </h3>
        <a class="footer-title-link" href="mailto:barcelolita@ukr.net"
          >barcelolita@ukr.net</a
        >
      </div>
      <div class="footer-contacts-box-child">
        <h3 class="footer-title" data-ua="Телефон" data-en="Phone">Phone</h3>
        <a class="footer-title-link plus" href="tel:+380637780314"
          >380637780314</a
        >
      </div>
    </div>
  </div>
  <section class="section footer-team">
    <div class="container team-info">
      <button
        class="team-button"
        type="button"
        data-ua="Створено студентами GoIt"
        data-en="Created by GoIt students"
      >
        Created by GoIt students
      </button>
      <p class="team-watermark">2024 barcelolita</p>
    </div>
  </section>
</footer>
