
<footer class="footer">
  <div class="container block-footer">
    <img class="footer-img" src="../img/contacts-img/autor-tab-desk.png" alt="photo-girl-author"/>
    <div class="footer-contacts-box">
        <div class="footer-contacts-box-child">
            <h3 class="footer-title">Follow me</menu></h3>    
            <ul class="footer-list">  
            <li ><a class="footer-title-item" href="https://www.instagram.com/barcelolitta?igsh=bXFuaGpzazZjMnJo" target="_blank">Instagram</a></li>
            <li ><a class="footer-title-item" href="https://www.facebook.com/alyona.stulina" target="_blank" >Facebook</a></li>
            <li ><a class="footer-title-item" href="https://t.me/barcelolita" target="_blank">Telegram</a></li>
            </ul>
      </div>
      <div class="footer-contacts-box-child">
      <h3 class="footer-title">Email</h3>
      <a class="footer-title-item" href="mailto:barcelolita@ukr.net">barcelolita@ukr.net</a>
      </div>
      <div class="footer-contacts-box-child">
      <h3 class="footer-title">Phone</h3>
      <a class="footer-title-item plus" href="tel:+380637780314">380637780314</a>
      </div>
    </div>
  </div>
  <section class="section footer-team">
  <div class="container team-info">
    <button class="team-button" type="button">Created by GoIt students</button>
    <p class="team-watermark">2024 barcelolita</p>
  </div>
</section>
</footer>
