<footer class="footer" id="contacts">
  <div class="container block-footer">
    <img
      class="footer-img"
      src="/img/contacts-img/autor-tab-desk.png"
      alt="photo-girl-author"
    />
    <div class="footer-contacts-box">
      <div class="footer-contacts-box-child">
        <h3
          class="footer-title"
          data-ua="Слідкуйте за мною"
          data-en="Follow me"
        >
          Follow me
        </h3>
        <ul class="footer-list">
          <li class="footer-title-item">
            <a
              class="footer-title-link"
              href="https://www.instagram.com/barcelolitta?igsh=bXFuaGpzazZjMnJo"
              target="_blank"
              aria-label="Instagram"
              tabindex="0"
              >Instagram</a
            >
          </li>
          <li class="footer-title-item">
            <a
              class="footer-title-link"
              href="https://www.facebook.com/alyona.stulina"
              target="_blank"
              aria-label="Facebook"
              tabindex="0"
              >Facebook</a
            >
          </li>
          <li class="footer-title-item">
            <a
              class="footer-title-link"
              href="https://t.me/barcelolita"
              target="_blank"
              aria-label="Telegram"
              tabindex="0"
              >Telegram</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-contacts-box-child">
        <h3 class="footer-title" data-ua="Електронна пошта" data-en="Email">
          Email
        </h3>
        <a
          class="footer-title-link"
          href="mailto:barcelolita@ukr.net"
          aria-label="author's email"
          >barcelolita<br />@ukr.net</a
        >
      </div>
      <div class="footer-contacts-box-child mobile-last">
        <h3 class="footer-title" data-ua="Номер телефону" data-en="Phone">
          Phone
        </h3>
        <a
          class="footer-title-link plus"
          href="tel:+380637780314"
          aria-label="author's phone number"
          >3806377<br />80314</a
        >
      </div>
    </div>
  </div>
  <section class="section footer-team">
    <h2 class="contacts-title">Created by GoIt students and copyright</h2>
    <div class="container team-info">
      <button
        class="team-button"
        type="button"
        data-ua="Створено студентами GoIt"
        data-en="Created by GoIt students"
        aria-label="Developers"
        tabindex="0"
      >
        Created by GoIt students
      </button>
      <p class="team-watermark">2024 barcelolita</p>
    </div>
  </section>
</footer>
