<header class="header container">
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a
          href="#about"
          class="header-nav-list-link"
          data-id="about"
          tabindex="0"
          >about</a
        >
      </li>
      <li class="header-nav-list-item">
        <a
          href="#portfolio"
          class="header-nav-list-link"
          data-id="portfolio"
          tabindex="0"
          >portfolio</a
        >
      </li>
      <li class="header-nav-list-item">
        <a
          href="#price"
          class="header-nav-list-link"
          data-id="price"
          tabindex="0"
          >price</a
        >
      </li>
    </ul>
  </nav>
  <div class="header-logo-container">
    <a href="./" class="header-logo-link" tabindex="0">barcelolita.</a>
  </div>
  <div class="header-right">
    <div class="header-right-contacts-container">
      <a
        href="#contacts"
        class="header-right-contacts-link"
        data-id="contacts"
        tabindex="0"
        >contacts</a
      >
    </div>
    <div class="header-lang">
      <load ="./svitcher.html" />
    </div>
  </div>
  <button type="button" class="header-burger" aria-label="menu" tabindex="0">
    <svg class="header-burger-icon" width="40" height="40">
      <use href="./img/icons/symbol.svg#icon-burger"></use>
    </svg>
  </button>
</header>
<div class="mobmenu-backdrop backdrop">
  <div class="mobmenu">
    <div class="mobmenu-text">
      <p class="mobmenu-text-txt" data-id="menu">menu</p>
    </div>
    <nav class="mobmenu-menu">
      <ul class="mobmenu-menu-list">
        <li class="mobmenu-menu-item">
          <a
            href="#about"
            class="mobmenu-menu-link"
            data-ua="Про мене"
            data-en="About"
            tabindex="0"
            >about</a
          >
        </li>
        <li class="mobmenu-menu-item">
          <a
            href="#portfolio"
            class="mobmenu-menu-link"
            data-ua="Портфоліо"
            data-en="Portfolio"
            tabindex="0"
            >portfolio</a
          >
        </li>
        <li class="mobmenu-menu-item">
          <a
            href="#price"
            class="mobmenu-menu-link"
            data-ua="Прайс"
            data-en="Price"
            tabindex="0"
            >price</a
          >
        </li>
        <li class="mobmenu-menu-item">
          <a
            href="#contacts"
            class="mobmenu-menu-link"
            data-ua="Контакти"
            data-en="Contacts"
            tabindex="0"
            >contacts</a
          >
        </li>
      </ul>
    </nav>
    <div class="mobmenu-close">
      <button
        type="button"
        class="mobmenu-close-button pop-up-close-btn"
        tabindex="0"
      >
        <svg class="mobmenu-close-icon" width="26" height="26">
          <use href="./img/icons/symbol.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="menu-lang">
      <load ="./svitcher.html" />
    </div>
  </div>
</div>
