<header class="header">
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item"><a href="#" class="header-nav-list-link">about</a></li>
      <li class="header-nav-list-item"><a href="#" class="header-nav-list-link">portfolio</a></li>
      <li class="header-nav-list-item"><a href="#" class="header-nav-list-link">price</a></li>
    </ul>
  </nav>
  <div class="header-logo-container"><a href="./index.html" class="header-logo-link">barcelolita.</a></div>
  <div class="header-right">
    <div class="header-right-contacts-container"><a href="#" class="header-right-contacts-link">contacts</a></div>
    <div class="header-lang">
      <button type="button" class="header-lang-button lang-button-active">en</button>
      <button type="button" class="header-lang-button">ua</button>
    </div>
  </div>
  <div class="header-burger">
    <svg>
      <!-- waitig for sprite -->
    </svg>
  </div>
</header>
<!-- mobile menu -->
<div class="mobmenu">
  <div class="mobmenu-text">
    <!-- width 24% -->
    <p class="mobmenu-text-txt">menu</p>
  </div>
  <div class="mobmenu-menu">
    <ul class="mobmenu-menu-list">
      <li class="mobmenu-menu-item"><a href="#" class="mobmenu-menu-link">about</a></li>
      <li class="mobmenu-menu-item"><a href="#" class="mobmenu-menu-link">portfolio</a></li>
      <li class="mobmenu-menu-item"><a href="#" class="mobmenu-menu-link">price</a></li>
      <li class="mobmenu-menu-item"><a href="#" class="mobmenu-menu-link">contacts</a></li>
    </ul>
  </div>
  <div class="mobmenu-close">
    <!-- width 24% -->
    <svg>
      <!-- waitig for sprite -->
    </svg>
  </div>
  <div class="header-lang"> 
    <!-- relative position -->
    <button type="button" class="header-lang-button lang-button-active">en</button>
    <button type="button" class="header-lang-button">ua</button>
  </div>
</div>