<header class="header">
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a href="#" class="header-nav-list-link" id="about">about</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#" class="header-nav-list-link" id="portfolio">portfolio</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#" class="header-nav-list-link" id="price">price</a>
      </li>
    </ul>
  </nav>
  <div class="header-logo-container">
    <a href="./index.html" class="header-logo-link">barcelolita.</a>
  </div>
  <div class="header-right">
    <div class="header-right-contacts-container">
      <a href="#" class="header-right-contacts-link" id="contacts">contacts</a>
    </div>
    <div class="header-lang">
      <load ="./svitcher.html" />
    </div>
  </div>
  <div class="header-burger">
    <svg>
      <!-- waitig for sprite -->
    </svg>
  </div>
</header>
<!-- mobile menu -->
<div class="mobmenu">
  <div class="mobmenu-text">
    <!-- width 24% -->
    <p class="mobmenu-text-txt" id="menu">menu</p>
  </div>
  <div class="mobmenu-menu">
    <ul class="mobmenu-menu-list">
      <li class="mobmenu-menu-item">
        <a href="#" class="mobmenu-menu-link" id="about-menu">about</a>
      </li>
      <li class="mobmenu-menu-item">
        <a href="#" class="mobmenu-menu-link" id="portfolio-menu">portfolio</a>
      </li>
      <li class="mobmenu-menu-item">
        <a href="#" class="mobmenu-menu-link" id="price-menu">price</a>
      </li>
      <li class="mobmenu-menu-item">
        <a href="#" class="mobmenu-menu-link" id="contacts-menu">contacts</a>
      </li>
    </ul>
  </div>
  <div class="mobmenu-close">
    <!-- width 24% -->
    <svg>
      <!-- waitig for sprite -->
    </svg>
  </div>
  <div class="header-lang">
    <!-- relative position -->
    <load ="./svitcher.html" />
  </div>
</div>
