<section class="hero-section section">
  <div class="container hero-wrapper">
    <div class="text-wrapper">
      <p
        class="hero-text"
        data-ua="Фотографія йде із глибини моєї душі. Тому я тут, щоб розповісти вашу особливу історію."
        data-en="Photography comes from the depth of my soul. So here I am telling stories."
      >
        Photography comes from the depth of my soul. So here I am telling
        stories.
      </p>
      <h1 class="hero-title">
        Hi! <span class="hero-title-accent">I’m Barcelolita </span>and I’m your photographer.</h1>
    </div>

    <button
      class="contact-me-btn js-open-modal"
      type="button"
      id="clickMe"
      data-ua="Зв'язатися"
      data-en="Contact me"
    >
      Contact me
    </button>
  </div>
</section>
