<section class="hero-section section">
  <div class="container hero-wrapper">
    <div class="text-wrapper">
      <p class="hero-text" id="hero-text">
        Photography comes from the depth of <br />
        my soul. So here I am telling stories.
      </p>
      <h1 class="hero-title">
        Hi! <span class="hero-title-accent">I’m Barcelolita</span> and I’m your photographer.
      </h1>
    </div>

    <button class="contact-me-btn js-open-modal" type="button" data-ua="Зв'яжіться зі мною" data-en="Contact me">Contact me</button>
  </div>
</section>
