<div class="pop-up-gallery-container">
  <svg class="pop-up-gallery-icon-close" width="26" height="26">
    <use href="../img/icons/symbol.svg#icon-close"></use>
  </svg>
  <div class="swiper">
    <div class="swiper-wrapper"></div>
  </div>
  <div class="pop-up-swiper-arrows">
    <svg class="swiper-arrow-prev" width="32" height="32">
      <use href="../img/icons/symbol.svg#icon-arrow-1" />
    </svg>

    <svg class="swiper-arrow-next" width="32" height="32">
      <use href="../img/icons/symbol.svg#icon-arrow-1" />
    </svg>
  </div>
</div>
