<div class="pop-up-gallery-backdrop backdrop">
  <div class="pop-up-gallery-container">
    <button
      type="button"
      class="pop-up-gallery-close-btn"
      aria-label="Pop Up Gallery Close"
    >
      <svg class="pop-up-gallery-icon-close" width="26" height="26">
        <use href="./img/icons/symbol.svg#icon-close"></use>
      </svg>
    </button>
    <div class="pop-up-gallary-cont-layout">
      <div class="swiper pop-up-gallery-swiper" data-id="photo">
        <div class="swiper-wrapper pop-up-gallery-wrapper"></div>
      </div>

      <div class="pop-up-gallary-desc-wrapper">
        <div class="pop-up-gallery-descr">
          <h3 class="pop-up-gallery-title">name</h3>
          <p class="pop-up-gallery-text">description</p>
        </div>
        <div class="pop-up-swiper-arrows">
          <button
            type="button"
            class="pop-up-gallery-swiper-btn-prev"
            aria-label="Pop Up Gallery Swiper Arrow Prev"
          >
            <svg
              class="pop-up-gallery-swiper-arrow-prev"
              width="32"
              height="32"
            >
              <use href="./img/icons/symbol.svg#icon-arrow-1" />
            </svg>
          </button>
          <button
            type="button"
            class="pop-up-gallery-swiper-btn-next"
            aria-label="Pop Up Gallery Swiper Arrow Next"
          >
            <svg
              class="pop-up-gallery-swiper-arrow-next"
              width="32"
              height="32"
            >
              <use href="./img/icons/symbol.svg#icon-arrow-1" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
