<section>
  <h3>(Portfolio)</h3>
  <ul>
    <li>
      <h3>Portrait photo</h3>
      <p>Images with an emphasis on faces, facial expressions and character.</p>
      <img src="../img/portrait-photo.webp" alt="portrait photo" />
      <p>Jun 02 , 2023</p>
    </li>
    <li>
      <h3>Fashion photo</h3>
      <p>
        The art of creating expressive and stylish images that emphasize fashion
        and style.
      </p>
      <img src="../img/fashion-photo.webp" alt="fashion photo" />
      <p>Jun 02 , 2023</p>
    </li>
    <li>
      <h3>Brand photo</h3>
      <p>
        Reflects the uniqueness of the brand, its values, style and character
        through visual elements.
      </p>
      <img src="../img/brand-photo.webp" alt="brand photo" />
      <p>Jun 02 , 2023</p>
    </li>
    <li>
      <h3>Genre photo</h3>
      <p>
        A variety of categories and styles covering different themes, moods.
      </p>
      <img src="../img/genre-photo.webp" alt="genre photo" />
      <p>Jun 02 , 2023</p>
    </li>
    <li>
      <h3>Studio photo</h3>
      <p>Capturing the beauty of nature and landscapes.</p>
      <img src="../img/studio-photo.webp" alt="studio photo" />
      <p>Jun 02 , 2023</p>
    </li>
    <li>
      <h3>Couple photo</h3>
      <p>Images of people, emphasizing their individuality.</p>
      <img src="../img/couple-photo.webp" alt="couple-photo" />
      <p>Jun 02 , 2023</p>
    </li>
    <li>
      <h3>Lookbook</h3>
      <p>Used to reinforce and build the brand's visual identity.</p>
      <img src="../img/lookbook.webp" alt="look book" />
      <p>Jun 02 , 2023</p>
    </li>
  </ul>
</section>
