<section class="portfolio container" id="portfolio">
  <h2 class="portfolio-title" data-id="portfolio-description-1">(Portfolio)</h2>
  <ul class="portfolio-list">
    <li class="portfolio-item" data-popup="Portrait photo">
      <button   class="item-button-portfolio">
        <span class="portfolio-item-title" data-id="portfolio-title-1">
          Portrait photo
        </span>
        <span
          class="portfolio-item-description-small portfolio-item-description"
          data-id="portfolio-text-1">
          Images with an emphasis on faces, facial expressions and character.
        </span>
        <img
          src="/img/portfolio/portrait-photo.webp"
          alt="portrait photo"
          class="portfolio-item-image small"
          loading="lazy"
        />
        <span class="portfolio-item-date" data-id="portfolio-data-1">
          Jun 02 , 2023
        </span>
      </button>
    </li>
    <li class="portfolio-item" data-popup="Fashion photo">
      <button   class="item-button-portfolio">
        <span class="portfolio-item-title" data-id="portfolio-title-2">
          Fashion photo
        </span>
        <span
          class="portfolio-item-description portfolio-item-description-medium"
          data-id="portfolio-text-2">
          The art of creating expressive and stylish images that emphasize
          fashion and style.
        </span>
        <img
          src="/img/portfolio/fashion-photo.webp"
          alt="fashion photo"
          class="portfolio-item-image medium"
          loading="lazy"
        />
        <span class="portfolio-item-date" data-id="portfolio-data-2">
          Jun 02 , 2023
        </span>
      </button>
    </li>
    <li class="portfolio-item position-top" data-popup="Brand photo">
      <button   class="item-button-portfolio">
        <span class="portfolio-item-title" data-id="portfolio-title-3">
          Brand photo
        </span>
        <span
          class="portfolio-item-description portfolio-item-description-large"
          data-id="portfolio-text-3">
          Reflects the uniqueness of the brand, its values, style and character
          through visual elements.
        </span>
        <img
          src="/img/portfolio/brand-photo.webp"
          alt="brand photo"
          class="portfolio-item-image large"
          loading="lazy"
        />
        <span class="portfolio-item-date" data-id="portfolio-data-3">
          Jun 02 , 2023
        </span>
      </button>
    </li>
    <li class="portfolio-item" data-popup="Genre photo">
      <button   class="item-button-portfolio position-down-container">
          <span class="portfolio-item-title" data-id="portfolio-title-4">
            Genre photo
          </span>
          <span
            class="portfolio-item-description-small portfolio-item-description"
            data-id="portfolio-text-4">
            A variety of categories and styles covering different themes, moods.
          </span>
          <img
            src="/img/portfolio/genre-photo.webp"
            alt="genre photo"
            class="portfolio-item-image small"
            loading="lazy"
          />
          <span class="portfolio-item-date" data-id="portfolio-data-4">
            Jun 02 , 2023
          </span>
      </button>
    </li>
    <li class="portfolio-item" data-popup="Studio photo">
      <button   class="item-button-portfolio container-size-photo">
        <span class="portfolio-item-title" data-id="portfolio-title-5">
          Studio photo
        </span>
        <span
          class="portfolio-item-description-small portfolio-item-description"
          data-id="portfolio-text-5">
          Shooting in a studio format with an emphasis on a personal idea, mood.
        </span>
        <img
          src="/img/portfolio/studio-photo.webp"
          alt="studio photo"
          class="portfolio-item-image small"
          loading="lazy"
        />
        <span class="portfolio-item-date" data-id="portfolio-data-5">
          Jun 02 , 2023
        </span>
      </button>
    </li>
    <li class="portfolio-item" data-popup="Couple photo">
      <button   class="item-button-portfolio">
        <span class="portfolio-item-title" data-id="portfolio-title-6">
          Couple photo
        </span>
        <span
          class="portfolio-item-description portfolio-item-description-medium"
          data-id="portfolio-text-6">
          Images of people, emphasizing their individuality.
        </span>
        <img
          src="/img/portfolio/couple-photo.webp"
          alt="couple-photo"
          class="portfolio-item-image medium"
          loading="lazy"
        />
        <span class="portfolio-item-date" data-id="portfolio-data-6">
          Jun 02 , 2023
        </span>
      </button>
    </li>
    <li class="portfolio-item position-top" data-popup="Lookbook">
      <button   class="item-button-portfolio">
        <span class="portfolio-item-title" data-id="portfolio-title-7">
          Lookbook
        </span>
        <span
          class="portfolio-item-description portfolio-item-description-large"
          data-id="portfolio-text-7">
          Used to reinforce and build the brand's visual identity.
        </span>
        <img
          src="/img/portfolio/lookbook.webp"
          alt="look book"
          class="portfolio-item-image large"
          loading="lazy"
        />
        <span class="portfolio-item-date" data-id="portfolio-data-7">
          Jun 02 , 2023
        </span>
      </button>
    </li>
  </ul>
</section>
