<section class="portfolio container">
  <h2 class="portfolio-title">(Portfolio)</h2>
  <ul class="portfolio-list">
    <li class="portfolio-item">
      <h3 class="portfolio-item-title">Portrait photo</h3>
      <p class="portfolio-item-description-small portfolio-item-description">
        Images with an emphasis on faces, facial expressions and character.
      </p>
      <img
        src="/img/portfolio/portrait-photo.webp"
        alt="portrait photo"
        class="portfolio-item-image small"
        loading="lazy"
      />
      <p class="portfolio-item-date">Jun 02 , 2023</p>
    </li>
    <li class="portfolio-item">
      <h3 class="portfolio-item-title">Fashion photo</h3>
      <p class="portfolio-item-description portfolio-item-description-medium">
        The art of creating expressive and stylish images that emphasize fashion
        and style.
      </p>
      <img
        src="/img/portfolio/fashion-photo.webp"
        alt="fashion photo"
        class="portfolio-item-image medium"
        loading="lazy"
      />
      <p class="portfolio-item-date">Jun 02 , 2023</p>
    </li>
    <li class="portfolio-item position-top">
      <h3 class="portfolio-item-title">Brand photo</h3>
      <p class="portfolio-item-description portfolio-item-description-large">
        Reflects the uniqueness of the brand, its values, style and character
        through visual elements.
      </p>
      <img
        src="/img/portfolio/brand-photo.webp"
        alt="brand photo"
        class="portfolio-item-image large"
        loading="lazy"
      />
      <p class="portfolio-item-date">Jun 02 , 2023</p>
    </li>
    <li class="portfolio-item">
      <div class="position-down-container">
        <h3 class="portfolio-item-title">Genre photo</h3>
        <p class="portfolio-item-description-small portfolio-item-description">
          A variety of categories and styles covering different themes, moods.
        </p>
        <img
          src="/img/portfolio/genre-photo.webp"
          alt="genre photo"
          class="portfolio-item-image small"
          loading="lazy"
        />
        <p class="portfolio-item-date">Jun 02 , 2023</p>
      </div>
    </li>
    <li class="portfolio-item">
      <h3 class="portfolio-item-title">Studio photo</h3>
      <p class="portfolio-item-description-small portfolio-item-description">
        Capturing the beauty of nature and landscapes.
      </p>
      <img
        src="/img/portfolio/studio-photo.webp"
        alt="studio photo"
        class="portfolio-item-image small"
        loading="lazy"
      />
      <p class="portfolio-item-date">Jun 02 , 2023</p>
    </li>
    <li class="portfolio-item">
      <h3 class="portfolio-item-title">Couple photo</h3>
      <p class="portfolio-item-description portfolio-item-description-medium">
        Images of people, emphasizing their individuality.
      </p>
      <img
        src="/img/portfolio/couple-photo.webp"
        alt="couple-photo"
        class="portfolio-item-image medium"
        loading="lazy"
      />
      <p class="portfolio-item-date">Jun 02 , 2023</p>
    </li>
    <li class="portfolio-item position-top">
      <h3 class="portfolio-item-title">Lookbook</h3>
      <p class="portfolio-item-description portfolio-item-description-large">
        Used to reinforce and build the brand's visual identity.
      </p>
      <img
        src="/img/portfolio/lookbook.webp"
        alt="look book"
        class="portfolio-item-image large"
        loading="lazy"
      />
      <p class="portfolio-item-date">Jun 02 , 2023</p>
    </li>
  </ul>
</section>
