<section class="container-prices">
    <p class="text-price">(PRICE)</p>
    <p class="prices-text">Photo sessions are specially designed to remember and convey your story, your emotions and
        your style.I guarantee a
        unique experience and quality images.</p>
    <div class="arrows">
        <button class="arrow-prev" type="button">
            <svg class="icon-arrow-prev" width="28" height="28">
                <use href="./img/icons/symbol.svg#icon-arrow-prev"></use>
            </svg>
        </button>
        <button class="arrow-next" type="button">
            <svg class="icon-arrow-next" width="28" height="28">
                <use href="./img/icons/symbol.svg#icon-arrow-next"></use>
            </svg>
        </button>
    </div>
    <div class="swiper-container">
        <div class="swiper" data-id="price-gallery">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide first">
                    <div class="front">
                        <img class="price-img" src="./img/prices/price-img-01-mob-min.jpg" alt="Photo" />
                        <div class="name-first">BASIC</div>
                        <div class="number-first number">01</div>
                        <!-- <div class="price-first">100$</div> -->
                        <div class="overlay-dark"></div>
                    </div>
                    <div class="overlay-click">
                        <p class="text">shooting up to 1 hour
                            up to 25 edited photos
                            editing time 5-10 days</p>
                        <p class="price-first">55 $ / 50 €</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="front">
                        <img class="price-img" src="./img/prices/price-img-02-mob-min.jpg" alt="Photo" />
                        <div class="name-second">STANDART</div>
                        <div class="number-second number">02</div>
                        <!-- <div class="price-second">400$</div> -->
                        <div class="overlay-dark"></div>
                    </div>
                    <div class="overlay-click">
                        <p class="price-second">100 $ / 90 €</p>
                        <p class="text">shooting up to 2 hours
                            up to 50 edited photos
                            editing time 10-14 days</p>

                    </div>
                </div>
                <div class="swiper-slide third">
                    <div class="front">
                        <img class="price-img" src="./img/prices/price-img-03-mob-min.jpg" alt="Photo" />
                        <div class="name-third">PREMIUM</div>
                        <div class="number-third number">03</div>
                        <!-- <div class="price-third">800$</div> -->
                        <div class="overlay"></div>
                    </div>
                    <div class="overlay-click red">

                        <p class="text">shooting up to 4 hours
                            up to 100 edited photos
                            editing time 14-21 days</p>
                        <p class="price-third">175 $ / 160 €</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>