<section class="container-prices" id="price">
  <p class="text-price" data-ua="(Ціни)" data-en="(PRICE)">(PRICE)</p>
  <p class="prices-text" data-id="price-desc">
    Photo sessions are specially designed to remember and convey your story,
    your emotions and your style. I guarantee a unique experience and quality
    images.
  </p>
  <div class="arrows">
    <button class="arrow-prev" type="button" aria-label="previous photo">
      <svg class="icon-arrow-prev" width="28" height="28">
        <use href="./img/icons/symbol.svg#icon-arrow-prev"></use>
      </svg>
    </button>
    <button class="arrow-next" type="button" aria-label="next photo">
      <svg class="icon-arrow-next" width="28" height="28">
        <use href="./img/icons/symbol.svg#icon-arrow-next"></use>
      </svg>
    </button>
  </div>
  <div class="swiper-container-price">
    <div class="swiper price" data-id="price-gallery">
      <div class="swiper-wrapper price">
        <div class="swiper-slide price first">
          <div class="name-first">BASIC</div>
          <div class="number-first number">01</div>
          <div class="overlay-dark">
            <p class="text" data-id="price-1">
              shooting up to 1 hour up to 25 edited photos editing time 5-10
              days
            </p>
            <p class="price-first">55 $ / 50 €</p>
          </div>
        </div>
        <div class="swiper-slide price second">
          <div class="name-second">STANDART</div>
          <div class="number-second number">02</div>
          <div class="overlay-dark">
            <p class="price-second">100 $ / 90 €</p>
            <p class="text" data-id="price-2">
              shooting up to 2 hours up to 50 edited photos editing time 10-14
              days
            </p>
          </div>
        </div>
        <div class="swiper-slide price third">
          <div class="name-third">PREMIUM</div>
          <div class="number-third number">03</div>
          <div class="overlay">
            <p class="text" data-id="price-3">
              shooting up to 4 hours up to 100 edited photos editing time 14-21
              days
            </p>
            <p class="price-third">175 $ / 160 €</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="price-contact-btn"
    type="button"
    data-ua="Зв'яжіться зі мною"
    data-en="Contact me"
  >
    Contact me
  </button>
</section>
