<section class="container-prices">
    <p class="text-price">(PRICE)</p>
    <p class="prices-text">Photo sessions are specially designed to remember and convey your story, your emotions and
        your style.I guarantee a
        unique experience and quality images.</p>
    <div class="arrows">
        <button class="arrow-prev" type="button">
            <svg class="icon-arrow-prev" width="28" height="28">
                <use href="./img/icons/symbol.svg#icon-arrow-prev"></use>
            </svg>
        </button>
        <button class="arrow-next" type="button">
            <svg class="icon-arrow-next" width="28" height="28">
                <use href="./img/icons/symbol.svg#icon-arrow-next"></use>
            </svg>
        </button>
    </div>
    <div class="swiper-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="content">
                        <img class="price-img" src="./img/prices/price-img-01.jpg" alt="Photo" />
                        <div class="name-first">BASIC</div>
                        <div class="number-first">01</div>
                        <div class="price-first">100$</div>
                        <div class="overlay"></div>
                    </div>
                    <div class="click">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, pariatur esse
                        laboriosam totam odit perspiciatis officia possimus impedit doloribus sint, nihil, sed alias
                        explicabo incidunt nesciunt soluta placeat ipsam! Magnam.</div>

                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <img class="price-img" src="./img/prices/price-img-02.jpg" alt="Photo" />
                        <div class="name-second">STANDART</div>
                        <div class="number-second">02</div>
                        <div class="price-second">400$</div>
                        <div class="overlay"></div>
                    </div>
                    <div class="click">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates,
                        explicabo magnam, sequi corrupti sapiente neque tempora possimus a velit cum quasi, quod itaque
                        corporis saepe soluta dolore aspernatur at.</div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <img class="price-img" src="./img/prices/price-img-03.jpg" alt="Photo" />
                        <div class="name-third">PREMIUM</div>
                        <div class="number-third">03</div>
                        <div class="price-third">800$</div>
                        <div class="overlay"></div>
                    </div>
                    <div class="click">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi dolorem, quae
                        eligendi aspernatur porro culpa eos debitis magni maiores alias repellendus eveniet aperiam,
                        atque doloremque fugiat quasi. Voluptatem, numquam adipisci?</div>

                </div>
            </div>

        </div>
    </div>
</section>