<section class="developer-section">
  <div class="developer-wrapper">
    <div class="section-top">
      <p class="team" data-ua="Команда" data-en="The team">The Team</p>
      <svg class="icon-close-section-team" width="26" height="26">
        <use href="./img/icons/symbol.svg#icon-close"></use>
      </svg>
    </div>
    <h1
      class="title-section-team title-js"
      data-ua="Команда, яка створили цей сайт"
      data-en="The team that created the site"
    >
      The team that created the site
    </h1>
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="array-box">
        <div class="swiper-button-prev-section-team">
          <svg class="arrow-team arrow-left-team" width="28" height="28">
            <use href="./img/icons/symbol.svg#icon-arrow-1"></use>
          </svg>
        </div>
        <div class="swiper-button-next-section-team">
          <svg class="arrow-team" width="28" height="28">
            <use href="./img/icons/symbol.svg#icon-arrow-1"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
