<section class="developer-section">
  <div class="developer-wrapper">
    <div class="section-top">
      <p class="team">The Team</p>
      <svg class="icon-close-section-team" width="26" height="26">
        <use href="../img/icons/symbol.svg#icon-close"></use>
      </svg>
    </div>
    <h1 class="title-section-team">
      <span class="title-red">The team</span> that created the site
    </h1>
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="array-box">
        <div class="swiper-button-prev-section-team">
          <svg class="arrow-team arrow-left-team" width="70" height="70">
            <use href="../img/icons/symbol.svg#icon-arrow-1"></use>
          </svg>
        </div>
        <div class="swiper-button-next-section-team">
          <svg class="arrow-team" width="70" height="70">
            <use href="../img/icons/symbol.svg#icon-arrow-1"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
